.banner {
    height: 460px;
    position: relative;
}

.banner-cover img {
    width: 100%;
    height: 100%;
}

.banner-pointer {
    width: 40px;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    cursor: pointer;
}

.banner-pointer:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.banner-pointer i {
    font-size: 30px;
    color: #b8c3cb;
}

.banner-pointer-left {
    left: 234px;
}

.banner-pointer-right {
    right: 0;
}

.banner-dots {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.banner-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 4px;
}

span.banner-dots-selecter {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(0, 0, 0, 0.5);
}

.banner-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 234px;
    background-color: rgba(105, 101, 101, 0.6);
    padding: 20px 0;
}

.banner-menu li {
    height: 42px;
    padding: 0 20px 0 30px;
}

.banner-menu li:hover {
    background-color: #ff6700;
}

.banner-menu-item {
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 12px;
}

.banner-menu-item i {
    vertical-align: -2px;
}

.banner-sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 234px;
    width: 992px;
    height: 460px;
    background-color: #fff;
    z-index: 80;
}

.banner-sub-menu-item {
    display: block;
    width: 25%;
    height: 16.666%;
    padding: 0 20px;
    cursor: pointer;
}

.banner-sub-menu-item img {
    width: 40px;
    height: 40px;
    margin-top: 17px;
    margin-right: 12px;
}

.banner-sub-menu-item span {
    margin-top: 28px;
    display: inline-block;
    width: 154px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.banner-menu li:hover .banner-sub-menu {
    display: block;
}